{% extends 'layout.html' %}
{% load static %}
{% block body %}

<div class="container-fluid p-4">
    <div class="row p-4 ">
        <div class="col border-bottom">
            <p><h3 style="color: #000080; ">Vision</h3></p>
            <p>To be the leading Manufacturer of high quality products within the Region.</p>
        </div>
    <div class="row">
        <div class="col border-bottom">
            <p><h3 style="color: #000080; ">Mission</h3></p>
            <p>Salama Millers Limited is committed to use high quality inputs, latest process technologies, highly skilled
            man power, affordable price control for all products and continual improvement of our Quality Management System.</p>
            <p>We will continue to grow and expand our business to keep pace with the demands of the growing population and its needs,
                enriching the life of all stakeholders from employees, investors and customers.</p>
        </div>
    </div>
    <div class="row">
        <div class="col border-bottom">
            <p><h3 style="color: #000080; ">Core values</h3></p>
            <ul>
                <li>Customer Focus</li>
                <li>Quality</li>
                <li>Professionalism</li>
                <li>Team Work</li>
                <li>Integrity</li>
                <li>Social Responsibility</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
