{% extends 'layout.html' %} {% load static %} {% block body %}

<div class="container-fluid m-4">
  <div class="row justify-content-center">
    <div class="col-6 p-4 border" style="">
      <h4>Please Sign up by filling in the form below.</h4>
      <br />
      <form method="post">
        {% csrf_token %} {{ form.as_p }}
        <div class="d-grid gap-2 p-3">
          <button class="btn btn-primary mt-2" type="submit">Sign Up</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
