{% extends 'layout.html' %} {% load static %} {% block body %}

<div class="container mt-5">
  <div class="row text-center justify-content-center">
    <div class="col-md-4">
      <h2>Update Orders</h2>
      <br />
      <form action="/update/{{d.id}}" method="post">
        {% csrf_token %}
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            placeholder="Item"
            name="item"
            value="{{d.item}}"
            required
          />
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control mt-2"
            placeholder="Description"
            name="description"
            value="{{d.description}}"
            required
          />
        </div>
        <div class="form-group">
          <input
            type="number"
            class="form-control mt-2"
            placeholder="Quantity"
            name="quantity"
            value="{{d.quantity}}"
            required
          />
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control mt-2"
            placeholder="Route"
            name="route"
            value="{{d.route}}"
            required
          />
        </div>
        <div class="d-grid gap-2">
          <button class="btn btn-primary mt-2" type="submit">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
