{% extends 'layout.html' %}
{% load static %}
{% block body %}

<div class="container-fluid m-4">
  <div class="row justify-content-center">
    <div class="col-md-6 p-4 border justify-content-center" style="">
      {% if user.is_authenticated %}
      <h5
        style="
          display: inline;
          color: #000080;
          font-family: 'Monotype Corsiva', cursive;
        "
      >
        Greetings {{ user.username }},
      </h5>
      <h5>
        Place an order or view your current orders
        <a href="{% url 'view_orders'  %}">here</a>
      </h5>
      <br />
      <form action="/order" method="post">
        {% csrf_token %}
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            placeholder="Item"
            name="item"
            required
          />
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control mt-2"
            placeholder="Description"
            name="description"
            required
          />
        </div>
        <div class="form-group">
          <input
            type="number"
            class="form-control mt-2"
            placeholder="Quantity"
            name="quantity"
            required
          />
        </div>
        {% comment %} <div class="form-group">
          <input
            type="text"
            class="form-control mt-2"
            placeholder="Route"
            name="route"
            required
          />
        </div> {% endcomment %}
        <div class="d-grid p-3 gap-2">
          <button class="btn btn-primary mt-2" type="submit">Make order</button>
        </div>
      </form>
      {% else %}
      <p>
        Please <a href="{% url 'handlelogin' %}">log in</a> to create an order.
      </p>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
